/* =============================Blog-Page=================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
p{
	font-weight: 300;
}

/* -----------------------Header Section--------------------------------- */
.nav-bar {
	height: 6rem;
	background-color: transparent;
	padding-left: 15rem;
	padding-right: 15rem;
	padding-top: 1.5rem;
}


.nav-img1{
	width: 7rem;
	height: 4rem;
}
.nav-bar-main-content {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;


}

#nav-items {
	flex: 2 1 auto;
}
.nav-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
	width: 2rem;
}

.nav-bar img {
	height: 2.4rem;
	width: 8rem;
}

.nav-content ul {
	padding-top: 1.4rem;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin-left: 5rem;
}

.nav-content ul a {
	text-decoration: none;
	font-size: 0.8rem;
	color: #5d5d5d;
}

.nav-content ul a:hover {
	color: #f38b15;
	border: none;
	
}



.nav-btn button {
	background-color: #f38b15;
	height: 2rem;
	font-size: 0.6rem;
	color: #ffffff;
	border: none;
	width: 7rem;
	border-radius: 1.6rem;
	text-transform: uppercase;
	transition: all 300ms linear;
	cursor: pointer;
}

.nav-btn button:hover {
	background: transparent;
	color: #f38b15;
	border: 0.1rem solid #f38b15;
}

.nav-btn i {
	font-size: 1rem;
	color: #5d5d5d;
}

.nav-btn i:hover {
	color: #f38b15;
}


/* -----------------------Header Section--------------------------------- */

/* -----------------------Header Section--------------------------------- */

.blog-header-main{
	background: rgb(241, 248, 234);
}
.blog-header-child-container{
	display: flex;
	margin-top: 3rem;
	padding-bottom: 5rem;
	margin-left: 15rem;
    margin-right: 15rem;
}

.blog-header-text p{
	font-size: 2.5rem;
	font-weight: 600;
	padding-bottom: 5rem;
	padding-top: 4rem;
}
.blog-header-text {
	background: white;
	padding-top: 2rem;
	padding-left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/* max-height: 20rem; */
	max-width: 38.6rem;
  }

.blog-header-author span{
	color: #f38b15;
	font-size: 1rem;
	margin-left: .4rem;
}

.blog-header-img-mobile{
	display: none;
}
.blog-header-img img{
	width: 23.25rem;
	height: 20rem;
}
/* -----------------------Header Section End--------------------------------- */



/* ------------------------------blog Section start--------------------------------- */

     /* -----------------------Table Of Content Section Start--------------------------------- */

.blog-section-DDmenu{
	width:17rem;
	margin-top: 3rem;
}
.blog-link-section{
	width:17rem;
	background:#ebebeb;
	padding-bottom: 1.5rem;
}
.blog-link-section ul a{
	list-style-type: none;
	margin-left: 1rem;
	text-decoration: none;
}
.blog-link-section ul a li{
	margin-left: 1rem;
	color: #545b53;
	text-decoration: none;
	font-weight: 300;
	font-size: .7rem;
	display: flex;
	
}
.blog-link-section ul a li span p{
	padding-top: .1rem;
	height: 1rem;
	width: 1.5rem;
	background: #42aae6;
	text-align: center;
	color: white;
	font-weight: 600;
	margin-right: .5rem;

}

.blog-section-1-tbl{
	display: flex;
}
.fa {
	font-size:1.5rem;
	margin-left: 1rem;
	margin-top: 1rem;
	color: #323b40;
    cursor: pointer;
}
.fa:hover {
	color: #42aae6;;
}
/* -----------------------Table Of Content Section End--------------------------------- */

/* -----------------------Latest Blog Section start --------------------------------- */

.latest-blog-main-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2rem;
	background:#ebebeb ;
}
.latest-blog-main-container h3{
	margin:1rem 1rem;
}
.latest-blog-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-top: 2rem; */
}
.blog-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.blog-box img{
	height: 3rem;
	width: 3rem;

}
.latest-blog-text-section{
	margin-left: .5rem;
}
.latest-blog-text-section h5{
	font-size: .6rem;
	height: 2.3rem;
}
.latest-blog-text-section a p{
	font-size: .7rem;
	text-transform: uppercase;
	font-weight: 400;
	color: #f38b15;
}
.latest-blog-text-section a{
	text-decoration: none;
}



/* -----------------------Latest Blog Section End--------------------------------- */



/* ----------------------Blog section All Article------------------------------------------------ */


.Blog-section-1{
	margin-left: 15rem;
    margin-right: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.Blog-section-1 .all-blog{
	width:45rem;
	padding-right: 3rem;
	margin-top: 3rem;
}
.Blog-section-1 h3{
	margin-top: 1rem;
	margin-left: 1rem;
}
.all-blog p{
	font-size: .8rem;
}

.all-blog img{
	width: 38rem;
	height: 20rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.social-icon{
	margin: 2rem 0rem;
}
.social-icon span{
	font-size: 1.5rem;
	font-weight: 600;
	margin-right: 2rem;
}
.social-icon a{
	font-size: 1.5rem;
	margin-right: .5rem;
}
#icon-fb{
	color: #0d5b88;
}
#icon-fb:hover{
	color: #1f3f52;
}
#icon-twt{
	color: #2a97d7;
}
#icon-twt:hover{
	color: #147cb8;
}
#icon-lin{
	color: #0f80c1;
}
#icon-lin:hover{
	color: #075989;
}


/* ----------------------Blog section All Article End------------------------------------------------ */

/* -----------------------   blog Section End--------------------------------- */


/* -----------------------Author Section Start-------------------------------- */
.author-section{
	max-height: 40rem;
	background-color: #e9f3f5;
	padding-bottom: 2rem;
}
.author-section-container{
	margin-left: 15rem;
	margin-right: 15rem;
	
}
.about-aauthor{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 2rem;
}
.about-aauthor img{
	width: 8rem;
	height: 8rem;
}
.author-text{
	margin-left: 2rem;
	width: 40rem;
}
.author-text h3{
	font-size: 1rem;
	margin-bottom: .7rem;
}
.author-text p{
	font-size: .7rem;
}

.author-text a{
	padding-bottom: 2rem;
}

.author-text a button {
	background-color: #00aeef;
	border: .1rem #00aeef solid;
	border-radius: 1rem;
	color: white;
	text-transform: capitalize;
	font-size: 0.6rem;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	transition: all 300ms linear;
	cursor: pointer;
}

.author-text a button:hover {
	color: #00aeef;
	background-color: transparent;
	border: 0.1rem #00aeef solid;
	border-radius: 1rem;
}


.search-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.search-section h3 {
	margin: 1.5rem;
}
.search-section input {
	padding-left: 2rem;
	height: 2rem;
	width: 20rem;
	border: none;
	outline: none;
	font-size: 0.6rem;
}
.search-section p {
	margin-top: 2rem;
	font-weight: 500;
}

.search-section button {
		background-color: #f38b15;
		border: .1rem #f38b15 solid;
		color: white;
		text-transform: uppercase;
		font-size: 0.6rem;
		margin-top: 1rem;
		padding: 0.7rem 2rem;
		transition: all 300ms linear;
		cursor: pointer;
}

.search-section button:hover {
	background: transparent;
	color: #f38b15;
	border: 0.1rem solid #f38b15;
}
/* -----------------------Author Section End--------------------------------- */



/* -----------------------Related Post Section Start --------------------------------- */

.related-post-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.main-h {
	font-size: 2rem;
	text-transform: uppercase;
}

.related-post-card-main-container {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35rem;
}

.related-post-card-container {
	height: 25rem;
	width: 17.7rem;
	margin: 1rem 1rem;
	background-color: white;
	box-shadow: .2rem .1rem .6rem .1rem #d7d7d7;
	transition: all 500ms linear;
	cursor: pointer;
}

.related-post-card-container:hover{
	transform: translateY(-5%);
}

.related-post-card-text {
	height: 25.5rem;
	width: 18.7rem;
}
.related-post-card-text_container{
	width: 16.7rem;
	height: 9rem;
}
.related-post-card-text img {
	height: 13rem;
	width: 17.7rem;
}

.related-post-card-text h4 {
	margin: 1rem 1rem;
	height:2rem ;
	width: 13rem;
}

.related-post-card-text p {
	margin-left: 1rem;
	margin-bottom: .8rem;
	color: #5d5d5d;
	font-size: .7rem;
}

.related-post-card-text a {
	margin-left: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #f38b15;
	font-size: .7rem;
}

.related-post-card-text a:hover {
	margin-left: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #8a4c06;
	font-size: .7rem;
}

.related-post-all-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 90rem;
}

/* -----------------------Related Post Section End--------------------------------- */

/* -----------------------Footer section --------------------------------- */

footer {
	color: rgb(255, 255, 255);
}

.footer-section {
	background: linear-gradient(rgba(34, 151, 172, 0.82),
			rgba(34, 135, 172, 0.82)),
		url(../images/footer\ copy.png);
}

.footer_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 9rem;
	padding-top: 5rem;
	height: 30rem;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 13rem;
	margin-top: 5rem;

}

.footer-logo a img {
	width: 6rem;

}

.footer-social_icon {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	width: 10rem;

}

.footer-social_icon div {
	color: rgb(255, 255, 255);
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: rgba(23, 138, 161, 0.266);
	cursor: pointer;
	transition: transform 1s;
}

.footer-social_icon div:hover {
	color: #f38b15;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2rem;
	background-color: rgba(23, 138, 161, 0.266);
}

.footer-social_icon div:hover i {
	transform: translateX(50%);
	position: relative;
	top: .65rem;
	left: .65rem;
}

.footer-social_icon i {
	font-size: .8rem;
	position: relative;
	top: .4rem;
	left: .65rem;
	cursor: pointer;
	transition: transform 1s;
}

.footer_sec-2 {
	margin-top: 5rem;
	height: 10rem;
}
.footer_sec-3 {
	margin-top: 5rem;
}
.footer_sec-4 {
	margin-top: 5rem;
}
.footer_sec-2 h3 {
	margin-bottom: 1rem;
}

.footer_sec-3 h3 {
	margin-bottom: 1rem;
}

.footer_sec-4 h3 {
	margin-bottom: 1rem;
}

.footer_sec-2 a p {
	margin-top: 1rem;
	font-size: .7rem;
}
.footer_sec-2 a p:hover {
	color: #f38b15;
}

.footer_sec-3 a p {
	margin-top: 1rem;
	font-size: .7rem;
}
.footer_sec-3 a p:hover {
	color: #f38b15;
}

.footer_sec-4 a p {
	margin-top: 1rem;
	font-size: .7rem;
}
.footer_sec-4 a p:hover {
	color: #f38b15;
}

.footer_sec-2 a {
	text-decoration: none;
	color: white;
	
}

.footer_sec-3 a {
	text-decoration: none;
	color: white;
}

.footer_sec-4 a {
	color: white;
	text-decoration: none;
}

/* -----------------------Footer section end --------------------------------- */



/* -----------------------Privacy section  --------------------------------- */

.privacy-sec p {
	font-size: .7rem;
}

.privacy-sec {
	background-color: rgb(101, 184, 31);
	width: auto;
	height: 3.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}


/* -----------------------Privacy section end --------------------------------- */



@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
	html {
		font-size: 90%;
	}


}
@media all and (max-width: 600px) {
	html {
		font-size: 80%;
	}

	body {
		overflow-x: hidden;
		font-family: 'Roboto', sans-serif;
	}
	
	/* -----------------------Header Section--------------------------------- */
	.nav-bar-main-content .nav-btn{
		display: none;
	}
	.nav-bar-main-content .nav-content{
		display: none;
	}
	.nav-bar {
		height: 6rem;
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 1.5rem;
	}
	.blog-header-main {
		background: rgb(241, 248, 234);
		max-width: 47rem;
	  }
	.blog-header-child-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 3rem;
		padding-bottom: 5rem;
		margin-left: 0;
		margin-right: 0;
	}
	.blog-header-child-container #header-content{
		flex-basis: 45%;
		max-width: 22rem;
		max-height: 14rem;
		padding: 1rem;
		padding-right: 1rem;
	}
	.blog-header-text {
		padding-top: 2rem;
		max-height: 15rem;
		width: auto;
	}
	
	.blog-header-text, .blog-header-img{
	}
	.blog-header-text p {
		font-size: 1.5rem;
		font-weight: 600;
		padding-bottom: 3rem;
		padding-top: 0rem;
		width: 18rem;
	}
	.blog-header-img-mobile{
		display: contents;
	}
	.blog-header-img-mobile img {
		width: 20rem;
		max-height: 14rem;
	}
	.blog-header-img {
		display: none;
	}

	.header-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
/* -----------------------Header Section end--------------------------------- */

/* ------------------------------blog Section start--------------------------------- */

/* -----------------------Table Of Content Section Start--------------------------------- */

.blog-section-DDmenu{
	display: none;
}
/* -----------------------Table Of Content Section End--------------------------------- */
.Blog-section-1 {
	max-width: 45rem;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
  Blog-section-1 .all-blog {
	width: 100%;
	padding-right: 3rem;
	margin-top: 3rem;
  }
  .all-blog p {
	font-size: 1rem;
	padding: .5rem 3rem;
  }
  .all-blog img {
	width: 88%;
	max-height: 18rem;
	margin: 2rem 3rem;
  }
  .social-icon {
	margin: 2rem 3rem;
  }

/* ------------------------------blog Section End--------------------------------- */



/*  --------------------Author Section Start---------------------------  */

  .author-section{
	max-width: 100%;
	max-height: 40rem;
	background-color: #e9f3f5;
	padding-bottom: .1rem;
}
  .author-section-container {
	margin:1rem 3rem;
  }
  .author-text {
	margin-left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
  }
  .about-aauthor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
  }
  .author-text a button {
	background-color: #00aeef;
	border: .1rem #00aeef solid;
	border-radius: 1rem;
	color: white;
	text-transform: capitalize;
	font-size: 0.5rem;
	margin-top: 1rem;
	padding: 0.4rem .7rem;
	transition: all 300ms linear;
	cursor: pointer;
  }
  .author-text a {
	text-align: center;
	margin-left: 0;
	width: 100%;
  }
  .search-section button {
	background-color: #f38b15;
	border: .1rem #f38b15 solid;
	color: white;
	text-transform: uppercase;
	font-size: 0.5rem;
	margin-top: 1rem;
	padding: 0.4rem .7rem;
	transition: all 300ms linear;
	cursor: pointer;
  }
/*  --------------------Author Section End---------------------------  */

.related-post-section {
	max-width: 100%;
  }
  .related-post-card-main-container {
	height: auto;
  }
  .related-post-all-card {
	max-width: 47rem;
	flex-wrap: wrap;
  }
  .related-post-card-container {
	flex-basis: 55%;
	max-width: 20.7rem;
	max-height: 25rem;
  }
  .related-post-card-text img {
	width: 20.7rem;
  }
  .related-post-card-text_container {
	width: 20.7rem;
	height: 8rem;
  }
  .related-post-card-text p {
	margin: 0 1rem;
  }




}
